@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-explore: #121212;
 
  --bg-footer-sun: #fde7f4;
  --linear-g-black: linear-gradient(to bottom, #434343 0%, black 100%);
  --navbar-color : #212121;
  --navbar-hover-color : #2a2a2a;
  --navbar-hover-color2: #5b5b5b;
  --navbar-shadow : #1a1a1a;
  /* --navbar-light : #3C3C3C; */
  --active-dark : #3c3c3c;
  --dark-2 :#1a1a1a;
  --text-white: #fff;
  --text-black:#000;
  --color-btn-sun: #f9a8d4;
  --text-gray-color:#bdbdbd;
  /* light mode */
  --bg-light-mode: #f5f5f5;
    --super-white: #ffffff;
  --bg-active-light-submenu : #e6e6e6;
  --shadow-light-mode: rgba(0, 0, 0, .1);
  --text-color-light : #5a5a5a;
  --bg-purple-ligth : #7a59ff;
  --bg-purple-ligth-2: #a29bfe;
  --bg-yellow-light : rgb(240, 189, 48);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.padding-x-4 {
  padding-left: 16px;
  padding-right: 16px;
}
.mtop-68{
  margin-top: 72px;
}

.mtop-64{
  margin-top: 80px;
  margin-bottom: 16px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  overflow: scroll;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  /* background: black; */
}

.btn{
  background-image: linear-gradient(to left, var(--bg-purple-ligth), var(--super-white),var(--bg-purple-ligth));
  background-size: 400%;
}

