@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-explore: #121212;
  --bg-footer-sun: #fde7f4;
  --linear-g-black: linear-gradient(to bottom, #434343 0%, black 100%);
  --navbar-color : #212121;
  --navbar-hover-color : #2a2a2a;
  --navbar-hover-color2: #5b5b5b;
  /* --navbar-light : #3C3C3C; */
  --active-dark : #3c3c3c;
  --dark-2 :#1a1a1a;
  --text-white: #fff;
  --text-black:#000;
  --color-btn-sun: #f9a8d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.padding-x-4 {
  padding-left: 16px;
  padding-right: 16px;
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  overflow: scroll;
  scroll-behavior: smooth;
  
  
  /* background: black; */
}
